
<table class="table table-bordered">
  <div class="control-group">
    <a href="/records/new" class="btn btn-primary">Add record</a>
  </div>
  <thead>
    <tr>
      <th>Created</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Rain total</th>
      <th>Wind direction</th>
      <th>Wind speed</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record[:timestamp].strftime('%m/%d/%y %I:%M:%S %p') %></td>
        <td><%= to_fahrenheit(record[:bmp180temperature]) %></td>
        <td><%= record[:insidehumidity] %></td>
        <td><%= record[:totalrain] %></td>
        <td><%= record[:currentwinddirection] %></td>
        <td><%= record[:currentWindSpeed] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
